# Framework
fastapi==0.115.12
fastapi-mail==1.4.1
uvicorn==0.34.2

# Base de datos
sqlalchemy==2.0.40
psycopg2-binary==2.9.10      # driver PostgreSQL

# Autenticación
python-jose[cryptography]==3.4.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1                # versión compatible con passlib

# Validación
pydantic==2.11.1
pydantic-settings==2.9.1     # para leer .env en Settings
python-multipart==0.0.20

# Variables de entorno
python-dotenv==1.1.0
email-validator==2.2.0
